<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334205662898-7c7u1h611li2052nlegmaatgkalm9vll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334205662898-7c7u1h611li2052nlegmaatgkalm9vll</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>334205662898-6e07il8fh8fot4h59hc9812rdp5a14av.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEWDHsgwUdRrvuE4awcEC4ilqXAGiTdP8</string>
	<key>GCM_SENDER_ID</key>
	<string>334205662898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alephreach.foodrop</string>
	<key>PROJECT_ID</key>
	<string>foodrop-a41e7</string>
	<key>STORAGE_BUCKET</key>
	<string>foodrop-a41e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334205662898:ios:430fe163e6a84d5473bbab</string>
	<key>DATABASE_URL</key>
	<string>https://foodrop-a41e7.firebaseio.com</string>
</dict>
</plist>